.Nkocka1{
    background-color: rgb(52, 145, 147) ;
    height: 40%;
    width: 24%;
    margin-top: 3%;
    margin-left: 3%;
    display: inline-block;
    position: absolute;
}

.Kkocka1{
    background-color: white;
    height:50%;
    width:50%;
    margin-top:22%;
    margin-left:22%;
    display: inline-block;
    position: absolute;

}

.Nkocka2{
    background-color: rgb(52, 145, 147) ;
    height: 40%;
    width: 24%;
    margin-top: 3%;
    margin-left: 31%;
    display: inline-block;
    position: absolute;
}

.Kkocka2{
    background-color: white;
    height:50%;
    width:50%;
    margin-top:22%;
    margin-left:22%;
    display: inline-block;
    position: absolute;
}

.Nkocka3{
    background-color: rgb(52, 145, 147) ;
    height: 40%;
    width: 24%;
    margin-top: 27%;
    margin-left: 3%;
    display: inline-block;
    position: absolute;
}

.Kkocka3{
    background-color: white;
    height:50%;
    width:50%;
    margin-top:22%;
    margin-left:22%;
    display: inline-block;
    position: absolute;
}

.Nkocka4{
    background-color: rgb(52, 145, 147) ;
    height: 40%;
    width: 24%;
    margin-top: 27%;
    margin-left: 31%;
    display: inline-block;
    position: absolute;
}

.Kkocka4{
    background-color: white;
    height:50%;
    width:50%;
    margin-top:22%;
    margin-left:22%;
    display: inline-block;
    position: absolute;
}

.JobbNkocka{
    background-color: rgb(52, 145, 147) ;
    height: 65%;
    width: 35%;
    margin-top: 3%;
    margin-left: 60%;
    display: inline-block;
    position: absolute;
}


.JobbKkocka{
    background-color: white;
    height:50%;
    width:50%;
    margin-top:22%;
    margin-left:22%;
    display: inline-block;
    position: absolute;
}

.Teglalap{

}